.loan-provider {
    background-color: #ffffff; /* White background for the dashboard */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    
}

.loan-provider h2 {
    color: #555; /* Darker color for headings */
    text-align: center; 
}

.loan-provider h3 {
    color: #666; /* Slightly lighter color for subheadings */
    margin-top: 20px; 
}

.loan-provider p {
    color: red; 
    text-align: center; 
}

.loan-provider ul {
    list-style-type: none;
    padding: 0; 
}

.loan-provider li {
    background: #f9f9f9; 
    margin: 5px 0; /* Space between items */
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 3px; /* Make list items look like buttons */
}
